<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.ContractDao">
	<select id="queryContractByMatchId" resultType="Integer">
		SELECT id from worldcup2018_pk_contract
		where matchId=#{matchId} and status=0 and yn=1
	</select>
	<select id="queryContractByCidAndUid" resultType="Integer">
		SELECT  id from worldcup2018_pk_contract_user
		where uid=#{openId} and cid=#{cid}
	</select>
	<select id="queryByOpenIdAndCid" resultType="Integer">
		SELECT  id
		from worldcup2018_pk_contract_user
		where cid=#{cid} and uid=#{uid} and yn=1
	</select>
	<select id="queryByOpenId" resultType="ContractCome">
		select wpc.id,wpc.matchId,wpcu.result as number1
		from worldcup2018_pk_contract_user wpcu left join  worldcup2018_pk_contract wpc
		on wpcu.cid=wpc.id
		where wpcu.uid=#{openId} and wpc.status=2 and wpc.yn=1
	</select>

	<update id="updateResult">
		update worldcup2018_pk_contract_user
		<if test="yn=='yes'">
			set result=1
		</if>
		<if test="yn!='yes'">
			set result =0
		</if>
		where cid in
		<foreach collection="cids" item="item" open="(" close=")" separator=",">
			#{item.id}
		</foreach>
		and yn =1 and
		<if test="yn=='yes'">
			myGuess=#{result}
		</if>
		<if test="yn!='yes'">
			myGuess!=#{result}
		</if>
	</update>
	<select id="queryByResult" resultType="String">
		select uid from worldcup2018_pk_contract_user where cid in
		<foreach collection="cids" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach> and result=#{result} and yn=1
	</select>
	<select id="queryNumberByCid" resultType="Integer">
		select count(uid) from worldcup2018_pk_contract_user
		where cid=#{cid}
	</select>
	<select id="queryByMatchId" resultType="ContractCome">
		select id,stakeId from worldcup2018_pk_contract
		where matchId=#{matchId} and guessType=#{type} and yn=1 and status=1
	</select>
	<select id="queryByMatchIdAndUid" resultType="TheGuess">
		select "好友赛" as type,c.id cid,u.nickname,u.imageUrl,c.status
		from worldcup2018_pk_contract_user cu left join worldcup2018_pk_contract c on cu.cid=c.id
		left join worldcup2018_pk_create_contract cc on cu.cid=cc.cid
		left join worldcup2018_pk_user u on cc.createUser=u.openid
		where cu.uid=#{uid} and c.matchId=#{matchId} and cu.yn=1 and cc.yn=1
	</select>

	<select id="queryNumber" resultType="Integer">
		select count(cu.uid) from worldcup2018_pk_contract c
		right join worldcup2018_pk_contract_user cu on c.id=cu.cid
		where c.matchId=#{matchId} and cu.yn=1
	</select>
	<select id="queryCreateByUid" resultType="Integer">
		select c.id 
		from worldcup2018_pk_create_contract cc
		left join worldcup2018_pk_contract c on cc.cid=c.id
		where cc.createUser=#{uid} and c.matchId=#{matchId} and cc.yn=1
		limit 1
	</select>
	<select id="queryJoinByUid" resultType="Integer">
		select c.id 
		from worldcup2018_pk_contract_user cc
		left join worldcup2018_pk_contract c on cc.cid=c.id
		where cc.uid=#{uid} and c.matchId=#{matchId} and cc.yn=1
		limit 1
	</select>
	<select id="getContract" resultType="ContractCome">
		select id,guessType,stakeId,status,matchId 
		from worldcup2018_pk_contract where id=#{cid} and yn=1
	</select>
	<select id="getOpenId" resultType="String">
		select createUser 
		from worldcup2018_pk_create_contract
		where cid=#{cid} and yn=1
	</select>
	<select id="getOpenLists" resultType="String">
		select uid from worldcup2018_pk_contract_user where cid=#{cid}
	</select>
	<select id="queryGuessByUid" resultType="String">
		select myGuess from worldcup2018_pk_contract_user
		where cid=#{cid} and uid=#{uid} and yn=1
	</select>
	
	<update id="updateStatus">
		update worldcup2018_pk_contract set status=#{status} where id=#{cid} and yn=1
	</update>

	<insert id="insertContract" useGeneratedKeys="true" parameterType="ContractCome" keyProperty="id">
		insert into worldcup2018_pk_contract(guessType,stakeId,matchId)
		values(#{guessType},#{stakeId},#{matchId})
	</insert>
	<insert id="insertConstractCreate">
		insert into worldcup2018_pk_create_contract(cid,createUser)values(#{cid},#{uid})
	</insert>
	<insert id="insertConstractUser">
		replace into worldcup2018_pk_contract_user(cid,uid,myGuess,result) values(#{cid},#{uid},#{myGuess},2)
	</insert>
	
	
	<select id="queryList" resultType="Integer">
		select id from worldcup2018_pk_contract
		where time &lt; DATE_SUB(NOW(),INTERVAL 30 MINUTE) and status=0 and yn=1
	</select>
	<delete id="delete">
		update worldcup2018_pk_contract set yn=0 where id=#{id}
	</delete>
	<delete id="deleteList">
		update worldcup2018_pk_contract set yn=0
		where id in
		<foreach collection="ids" open="(" close=")" item="item" separator="," >
			#{item}
		</foreach>
	</delete>
	<delete id="deleteFromCuByCid">
		update worldcup2018_pk_contract_user
		set yn=0
		where cid=#{cid}
	</delete>
	<delete id="deleteFromCrateByCid">
		update worldcup2018_pk_create_contract
		set yn=0
		where cid=#{cid}
	</delete>
	
	<select id="queryResult" resultType="Integer">
		select result from worldcup2018_pk_contract_user
		where cid=#{cid} and uid=#{uid} and yn=1
	</select>
	<select id="queryUserList" resultType="User">
		select u.id,u.nickname,u.imageUrl 
		from worldcup2018_pk_contract_user cu
		left join worldcup2018_pk_user u on cu.uid=u.openid
		where cu.cid=#{cid} and cu.result=#{result} and cu.yn=1
	</select>
</mapper>