<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.ContractGroupDao">
	<select id="queryNumberByMatchId" resultType="Integer">
		select count(cu.uid) from contract_group c right join contract_user_group cu on c.id=cu.cid where c.matchId=#{matchId}
	</select>
	<select id="queryCreateByUid" resultType="String">
		select c.id from create_contract_group cc left join contract_group c on cc.cid=c.id
		where cc.createUser=#{uid} and c.matchId=#{matchId}
	</select>
	<select id="queryJoinByUid" resultType="String">
		select c.id from contract_user_group cc left join contract_group c on cc.cid=c.id
		where cc.uid=#{uid} and c.matchId=#{matchId}
	</select>
	
	<select id="queryContractGroup" resultType="ContractCome">
		select id,guessType,status,matchId,time from contract_group 
		where id=#{cid}
	</select>
	<select id="queryContractGroupUser">
		select user.nickname name,user.imageUrl,cug.number,cug.myGuess  from user left join contract_user_group cug on user.openId=cug.uid
		
		where cug.cid=#{cid}
	</select>
	<select id="queryCurrencys" resultType="Long">
		select sum(sug.number) from contract_user_group cug left join contract_group cg
		on cug.cid=cd.cid where cg.matchId=#{matchId}
	</select>
	<select id="queryNearLogo" resultType="String">
		select imageUrl from user right join contract_user_group cug on cug.uid=user.openId
		order by cug.time desc limit 5
	</select>
	<select id="queryNumberByCid" resultType="Integer">
		select count(uid) from contract_user_group where cid=#{cid}
	</select>
	
	
	
	<update id="setResult">
		update contract_user_group set result=#{result} where cid=#{cid} and uid=#{uid}
	</update>
	<select id="queryList" resultType="String">
		select id from contract_group where time &lt; DATE_SUB(NOW(),INTERVAL 30 MINUTE) and status=0
	</select>
	<delete id="delete">
		delete from contract_group where id=#{id}
	</delete>
	<delete id="deleteList">
		delete from contract_group where
		 <foreach collection="ids" open="(" close=")" item="item" separator="," >
			#{item}
		</foreach>
	</delete>
	<update id="updateStatus">
		update contract_group set status=1 where id=#{cid}
	</update>
	<insert id="insertContractGroup" >
		insert into contract_group(id,guessType,status,matchId,time)
		 values(#{contractCome.id},#{contractCome.guessType},0,
		 #{contractCome.matchId},now())
	</insert>
	<insert id="insertConstractGroupCreate">
		insert into create_contract_group(cid,createUser)
		values(#{cid},#{uid})
	</insert>
	<insert id="insertConstractGroupUser">
		replace into contract_user_group(cid,uid,number,myGuess,time,result)
		values(#{cid},#{uid},#{number},#{myGuess},now(),2)
	</insert>
</mapper>