<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.EvaluationDao">
	<select id="queryEvaluation" resultType="Evaluation">
		select openid,tricky_brains,food_anchor,imagination_talent,
		iron_cock,wealthy from worldcup2018_pk_evaluation
		where openid=#{openid}
	</select>
	<select id="queryMax" resultType="Integer">
		SELECT GREATEST(tricky_brains,food_anchor,imagination_talent,iron_cock,wealthy)
		from worldcup2018_pk_evaluation
		where openid=#{openId}
	</select>
	<insert id="insert">
		insert into worldcup2018_pk_evaluation(openid) values(#{openId})
	</insert>
	<update id="update">
		update worldcup2018_pk_evaluation
		set
		<if test="type==1">
			tricky_brains=tricky_brains+1
		</if>
		<if test="type==2">
			food_anchor=food_anchor+1
		</if>
		<if test="type==3">
			imagination_talent=imagination_talent+1
		</if>
		<if test="type==4">
			iron_cock=iron_cock+1
		</if>
		<if test="type==5">
			wealthy=wealthy+1
		</if>
		where openid in
		<foreach collection="openids" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</update>
</mapper>