<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.MatchDao">
	<update id="updateMatch">
		update worldcup_pk_matches
		set status=#{status},home_grade=#{homeGrade},visit_grade=#{visitGrade}
		where id=#{id}
	</update>
	<insert id="insertMatches">
		replace into worldcup_pk_matches(id,eventid,status,time,homeid,home_grade,visitid,visit_grade)
		values
		<foreach collection="matchs" item="item" separator=",">
			(#{item.id},#{item.eventid},#{item.status},#{item.time},#{item.homeid},
			#{item.home_grade},#{item.visitid},#{item.visit_grade})
		</foreach>
	</insert>
	<select id="queryMatches" resultType="Match">
		select id,eventid,status,time,homeid,home_grade,visitid,visit_grade from worldcup_pk_matches
		
		where time >now() order by time asc limit 4
	</select>
	<select id="queryById" resultType="Match">
		select homeid,home_grade,visitid,visit_grade from worldcup_pk_matches where id=#{id}
	</select>
</mapper>