<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.MatchDao">
	<select id="queryTommorrow" resultType="Match">
		select id,stageId,status,time,homeid,home_grade,visitid,visit_grade,round
		from worldcup2018_pk_matches
		where   DATE_FORMAT(DATE_SUB(time,INTERVAL 5 HOUR),'%Y-%m-%d')= DATE_FORMAT(DATE_ADD(now(),INTERVAL 19 HOUR),'%Y-%m-%d')
		and status!=8
		order by time asc limit 4
	</select>
	<select id="queryMatchBegin" resultType="Match">
		SELECT id,stageId,status,time,homeid,home_grade,visitid,visit_grade,DATE_FORMAT(time,'%Y-%m-%d %H:%i') timeDesc
		from worldcup2018_pk_matches
		where time >now() and time &lt; DATE_ADD(NOW(),INTERVAL 5 MINUTE )

	</select>
	<select id="queryStartedMatch" resultType="Match">
		select id,stageId,status,time,homeid,home_grade,visitid,visit_grade,DATE_FORMAT(time,'%Y-%m-%d %H:%i') timeDesc
		from worldcup2018_pk_matches
		where status!=8   order by time asc limit 8
	</select>
	<select id="queryMatchesTwoHours" resultType="Match">
		select id,stageId,status,time,homeid,home_grade,visitid,visit_grade,round
		from worldcup2018_pk_matches
		where time >now() and time &lt; DATE_ADD(NOW(),INTERVAL 2 HOUR) order by time asc limit 1
	</select>
	<select id="queryMatchesTenMinutes" resultType="Match">
		select id,stageId,status,time,homeid,home_grade,visitid,visit_grade,round
		from worldcup2018_pk_matches

		where time >now() and time &lt; DATE_ADD(NOW(),INTERVAL 20 MINUTE ) order by time asc limit 1
	</select>
	<select id="queryRownum" resultType="Integer">
		select count(id) from worldcup2018_pk_matches
		where DATE_FORMAT(DATE_SUB(time,INTERVAL 5 HOUR),'%Y-%m-%d')= DATE_FORMAT(DATE_SUB(#{time},INTERVAL 5 HOUR),'%Y-%m-%d')
		and id &lt; #{id}
	</select>
	<update id="updateMatch">
		update worldcup2018_pk_matches
		set status=#{status},home_grade=#{homeGrade},visit_grade=#{visitGrade}
		where id=#{id}
	</update>
	<insert id="insertMatches">
		replace into worldcup2018_pk_matches(id,stageId,status,time,homeid,home_grade,visitid,visit_grade,round)
		values
		<foreach collection="matchs" item="item" separator=",">
			(#{item.id},#{item.stageId},#{item.status},#{item.time},#{item.homeid},
			#{item.home_grade},#{item.visitid},#{item.visit_grade},#{item.round})
		</foreach>
	</insert>
	<select id="queryMatches" resultType="Match">
		select id,stageId,status,time,homeid,home_grade,visitid,visit_grade,round 
		from worldcup2018_pk_matches

		where time >now() order by time asc limit 4
	</select>
	<select id="queryMatchesToday" resultType="Match">
		select id,stageId,status,time,homeid,home_grade,visitid,visit_grade,round
		from worldcup2018_pk_matches
		where  DATE_FORMAT(DATE_SUB(time,INTERVAL 5 HOUR),'%Y-%m-%d')= DATE_FORMAT(DATE_SUB(now(),INTERVAL 5 HOUR),'%Y-%m-%d')
		order by time asc limit 4
	</select>
	<select id="queryById" resultType="Match">
		select stageId,time,status,homeid,home_grade,visitid,visit_grade,round from worldcup2018_pk_matches where id=#{id}
	</select>
	<select id="queryMatchDone" resultType="Match">
		select id,stageId,status,time,homeid,home_grade,visitid,visit_grade,DATE_FORMAT(time,'%Y-%m-%d %H:%i') timeDesc
		from worldcup2018_pk_matches where status=8 order by time desc limit 20
	</select>
</mapper>