<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.StakeDao">
	<insert id="insertStake" useGeneratedKeys="true" parameterType="Stake" keyProperty="id">
		insert into worldcup_pk_stake(name,type) values(#{name},#{type})
	</insert>
	
	<select id="queryById" resultType="Stake">
		select id,type,name,logo,time from worldcup_pk_stake where id=#{id}
	</select>
	
	<select id="queryAll" resultType="Stake">
		select id,type,name,logo,time from worldcup_pk_stake
		where isOriginal =1 order by id asc
	</select>
</mapper>